@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-zinc-50 text-zinc-950;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  h1, h2, h3, h4, h5 {
    @apply font-display;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }

}
[data-aos=fade-leftm] {
  transform: translateX(10px)
}
[data-aos="out"] {
  opacity: 1;
  transition-property: transform, opacity;
}
[data-aos="out"].aos-animate {
  opacity: 0;
}
[data-aos="rotate"] {
  transform: rotate(0deg);
  transition-property: transform, rotate;
}
[data-aos="rotate"].aos-animate {
  transform: rotate(360deg);
}
[data-aos="bola"] {
  transform: translateX(0px);
  transition-property: transform, translateX;
}
[data-aos="bola"].aos-animate {
  transform: translateX(72px);
}
body[data-aos-duration='40000'] [data-aos],
[data-aos][data-aos][data-aos-duration='40000'] {
  transition-duration: 40000ms;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexend{
  display: flex;
  justify-content: center;
  align-items: end;
}
.flexb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexa{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dflex{
  display: flex;
}
.bgprincipal{
  background-image: url(../public/imagens/backone.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bgprincipalc{
  background-image: url(../public/imagens/backone.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: initial;
}
  